{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "AWS DevSecOps Workshop Internet Gateway",
  "Parameters": {
    "ParentStackName": {
      "Type": "String",
      "Description": "The parent stack name."
    },
    "VPC": {
      "Type": "String",
      "Description": "The VPC ID to attach to"
    }
  },
  "Resources": {
    "InternetGateway": {
      "Properties": {
        "Tags": [
          {
            "Key": "Name",
            "Value": {
              "Ref": "ParentStackName"
            }
          }
        ]
      },
      "Type": "AWS::EC2::InternetGateway"
    },
    "AttachGateway": {
      "Properties": {
        "VpcId": {
          "Ref": "VPC"
        },
        "InternetGatewayId": {
          "Ref": "InternetGateway"
        }
      },
      "Type": "AWS::EC2::VPCGatewayAttachment"
    }
  },
  "Outputs": {
    "Gateway": {
      "Value": {
        "Ref": "InternetGateway"
      }
    },
    "Attachment": {
      "Value": {
        "Ref": "AttachGateway"
      }
    }
  }
}
